* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: cursive;
    line-height: 1.6;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */
.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Image du logo */
.logo-img {
    height: 50px;
    width: auto;
    align-items: left;
}

/* Menu de navigation */
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

nav a {
    color: rgb(241, 235, 235);
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    text-decoration: underline;
}


/* Hero */
.hero {
    color: white;
    padding: 100px 0;
    text-align: center;
}

.hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
}

.btn {
    background-color: rgb(30, 29, 29);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.btn:hover {
    background-color: #f3eeee;
}

/* Formations */
.formations {
    padding: 60px 0;
    background-color: #fff;
}

.formations h2 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 32px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    background-color: #f0f0f0;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.card h3 {
    margin-bottom: 10px;
}

/* Footer */
footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: 40px;
}
