.bandeau {
  background-color: #7e3f72;
  color: white;
  padding: 20px 0;
  text-align: left;
  font-family: Arial, sans-serif;
}

h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: left;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #41042e;
  text-align: left;
  margin-bottom: 10px;
}

.description {
  background-color: #fce4ec;
  color: #090909;
  font-style: normal;
}

.description2 {
  background-color: #ac7e8d;
  color: #090909;
  font-style: normal;
}

table {
  border-collapse: collapse;
  margin-left: 0;
  margin-right: auto;
}

td {
  border: 1px solid #ccc;
  padding: 20px;
}

.table-columns {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  margin-top: 30px;
}

.left-column,
.right-column {
  width: 48%;
}
